{% extends "base.html" %}
{% block title %}Applications{% endblock title %}

{% block content %}
<div class="container-fluid py-5">
  <h1 class="display-4 mb-4">Your Applications</h1>
  <div class="row mb-4">
    <div class="col-md-3 mb-3">
      <div class="card bg-primary text-white h-100">
        <div class="card-body">
          <h5 class="card-title">Total Applications</h5>
          <h2 class="display-4">{{applications.count}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-light">
      <h2 class="h4 mb-0">Posted Jobs</h2>
    </div>
    <div class="card-body">
      {% if applications %}
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Job Title</th>
                <th>Applied at</th>
                <th>Application Status</th>
              </tr>
            </thead>
            <tbody>
              {% for application in applications %}
                <tr>
                  <td><a href="{{application.job.get_absolute_url}}" class="text-decoration-none">{{ application.job.title }}</a></td>
                  <td>{{ application.created|date:"M d, Y" }}</td>
                  <td>
                    {% if application.status == "pending"%}
                      <span class="badge bg-warning">{{application.get_status_display}}</span>
                    {% elif application.status == "reviewed" %}
                      <span class="badge bg-primary">{{application.get_status_display}}</span>
                    {% elif  application.status == "selected"%}
                      <span class="badge bg-success">{{application.get_status_display}}</span>
                    {%else%}
                      <span class="badge bg-danger">{{application.get_status_display}}</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="text-muted">You don't apply to any job yet.</p>
      {% endif %}
    </div>
  </div>  
</div>
{% endblock content %}