{% load static %}
<header class="navbar navbar-expand-lg navbar-light bg-light card">
    <div class="container-fluid">
        <a class="navbar-brand custom-logo" href="{% url 'job_list' %}"> 
            Shoglana
        </a>

        <form class="d-flex search-form" method="GET" action="{% url 'jobs_search' %}">
            <input class="form-control me-2" type="search" placeholder="Search jobs, companies..." aria-label="Search" name="q">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if user.is_company %}
                        <a href="{% url 'dashboard'%}" class="nav-link">Dashboard</a>
                        <a href="{% url 'job_add' %}" class="nav-link"><i class="fas fa-briefcase me-1"></i> Post Job</a>

                    {% else %}
                        <a href="{% url 'user_applications' %}" class="nav-link">Applications</a>
                    {% endif %}
                    {% if user.is_company %}
                    	 <a href="{% url 'company_profile' user.username %}" class="nav-link d-none d-lg-block">
                        <img src="{{user.companyprofile.logo}}" class="rounded-circle" alt="Company Avatar" width="40" height="40">
                        </a>
                    {% else %}
                        <a href="{% url 'user_profile' user.username %}" class="nav-link d-none d-lg-block">
                        <img src="{{user.userprofile.logo}}" class="rounded-circle" alt="User Avatar" width="40" height="40">
                        </a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="nav-link btn btn-outline-primary d-none d-lg-inline-block ms-2">Logout</a>

                    <a href="{% url 'logout' %}" class="nav-link d-lg-none">Logout</a>
                  
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link btn btn-outline-primary d-none d-lg-inline-block">Log in</a>
                    <a href="{% url 'signup' %}" class="nav-link btn btn-outline-success d-none d-lg-inline-block ms-2">Get Started</a>
                    <a href="{% url 'login' %}" class="nav-link d-lg-none">Log in</a>
                    <a href="{% url 'signup' %}" class="nav-link d-lg-none">Get Started</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>