{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Log In
{% endblock title %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center gap-2">
  <form action="" method="post" class="form-control mb-4">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Log In" class="btn btn-primary">
  </form>
  <div>
    <p><a href="{% url 'signup'%}">Don't have an account?</a></p>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>

{% endblock content %}